@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-points: #4b874b;
  --color-money: #d9d93d;
  --gold-border: #EFB810;
  --gold-fill: rgb(239 184 16 / 60%);
  --silver-border: #C0C0C0;
  --silver-fill: rgb(192 192 192 / 60%);
  --bromze-border: #cd7f32;
  --bromze-fill: rgb(205 127 50 / 60%);
  --green-border: #4b874b;
  --green-fill: rgb(75 135 75 / 60%);
  --red-border: #f72307;
  --red-fill: rgb(247 35 7 / 60%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #11111f;
    --foreground: #ededed;
    --color-points: #4b874b;
    --color-money: #d9d93d;
    --gold-border: #EFB810;
    --gold-fill: rgb(239 184 16 / 60%);
    --silver-border: #C0C0C0;
    --silver-fill: rgb(192 192 192 / 60%);
    --bromze-border: #cd7f32;
    --bromze-fill: rgb(205 127 50 / 60%);
    --green-border: #4b874b;
    --green-fill: rgb(75 135 75 / 60%);
    --red-border: #f72307;
    --red-fill: rgb(247 35 7 / 60%);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.profile-img {
  border-radius: 50%;
  margin: 8px 8px 8px 12px;
  border: 3px solid white;
}

.main-container {
  width: 500px;
  max-width: 95vw;
  display: flex;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0.123);
  border-radius: 25px;
  margin: 15px;
}

.classification-item-container {
  margin-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  border-top: 1px solid #11111f;
  border-bottom: 1px solid #11111f;
}

.classification-item-container:last-child  {
  border-bottom: 0px;
}

.classification-item-container:first-of-type  {
  border-top: 0px;
}

.classification-container{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.classification-container::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Opera */
}
.c-username {
  font-size: 20px;
  font-weight: bold;
}

.c-points {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-points);
}

.c-money{
  font-size: 12px;
  color: var(--color-money);
}

.c-position{
  margin-left: 10px;
  font-size: 25px;
}

.c-points-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-stats {
  display: flex;
  flex-direction: row;
}

.c-stats-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-stats-container + .c-stats-container{
  margin-left: 30px;
}

.c-stats-title {
  font-size: 12px;
  font-weight: bold;
}

.c-stats-value {
  font-size: 12px;
}

.c-user-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 55%;
}

.c-image-history-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.history-container{
  display: flex  ;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
  margin-bottom: 10px;
}

.history-icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.history-icon-0 {
  background-color: var(--background);
  border: var(--background) 2px solid;
}

.history-icon-1 {
  background-color: var(--gold-fill);
  border: var(--gold-border) 2px solid;
}

.history-icon-2 {
  background-color: var(--silver-fill);
  border: var(--silver-border) 2px solid;
}

.history-icon-3 {
  background-color: var(--bromze-fill);
  border: var(--bromze-border) 2px solid;
}

.history-icon-4 {
  background-color: var(--green-fill);
  border: var(--green-border) 2px solid;
}

.history-icon-5 {
  background-color: var(--red-fill);
  border: var(--red-border) 2px solid;
}